body{
    font-family: "Roboto", sans-serif;
    background: #fff;
  }
  
  ul{
    list-style: none;
  }

  input{
    width: 250px;
    background-color: rgb(110, 247, 217);
  }

  button{
    width: 100px;
  }

  .search-form {
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  
  .border{
      border: 1px solid black;
  }

  .getAllInput{
    visibility: hidden;
  }

  .container {
    padding-top: 20px;
    margin: auto;
  }

  